Django==5.0.1
python-dotenv==1.0.0
django-crispy-forms==2.1
Pillow==10.0.0  # For image handling
gunicorn==21.2.0  # For production
whitenoise  # For static files
psycopg2-binary
django-crispy-forms==2.1